.block-cyber-duck-spotify {
  .spotify-data--artist {
    display: block;
    margin-bottom: 10px;
    transform: none;
  }
}

.spotify-data--page {
  div {
    margin-bottom: 10px;
  }
}

.spotify-data-artist--albums {
  display: flex;

  a {
    margin-right: 5px;

    &::last-child {
      margin-right: 0;
    }
    
    img {
      transition: opacity 0.5s ease;
      opacity: 1;
    }

    &:hover,
    &:focus {
      img {
        opacity: 0.8
      }
    }
  }
}
